/* Purple */
.color-pu{
  background-color:#6f5e76;
}
/* Hot Pink */
.color-hp{
  background-color: #de369d;
}
/* Medium Pink */
.color-mp{
background-color:#ff8cc6;
}
/* Light Pink */
.color-lp {
  background-color:#ffdde2;
}
/* Beige pink */
.color-bp{
  background-color:#efd6d2;
}
/* Black */
.color-b{
  background-color:black;
}
.color-w{
  background-color:white;
}