.button {
  margin: 10px 10px 10px 10px;
}

.delete_icon {
  color: #F86C4A;
}

.edit_icon {
  color: #41E4DC;
}

.view_icon {
  color: #4DA1FF;
}

table {
  width: 100% !important;
  margin-top: 10px !important;
  table-layout: fixed;
  margin: auto;
  font-family: 'Roboto', sans-serif !important;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#content :hover {
  color: #fff;
  font-size: 18px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

table tbody, th, tr, td {
  background: #3F3D49;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

tbody {
  color: #7D8088;
  font-size: 14px;
}

th {
  padding-left: 24px;
  text-align: left;
  font-size: 12px;
}

tr {
  height: 48px;
}

td {
  font-weight: 700;
  padding-left: 24px;
  width: 25%;
}

thead {
  color: #D6D6D8;
  font-weight: 400;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #4357AD;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px !important;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Modal */

.modal-confirm {
  color: #636363;
  width: 550px;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-confirm .modal-header {
  padding: 0 15px;
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  display: inline-block;
  font-size: 26px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-confirm .modal-body {
  color: #999;
}

.modal-confirm .modal-footer {
  background: #ecf0f1;
  border-color: #e6eaec;
  text-align: right;
  margin: 0 -20px -20px;
  border-radius: 0 0 5px 5px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  transition: all 0.4s;
  border: none;
  padding: 8px 20px;
  outline: none !important;
}

.modal-confirm .btn-info {
  background: #b0c1c6;
}

.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
  background: #92a9af;
}

.modal-confirm .btn-danger {
  background: #f15e5e;
}

.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
  background: #ee3535;
}

.modal-confirm .modal-footer .btn+.btn {
  margin-left: 10px;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

/* Pagination */

.page {
  postion: fixed;
  padding-right: 24px;
  padding-top: 15px;
  padding-bottom:5px;
  text-align: right;
  font-size: 18px;
  font-weight:700;
  background: #3F3D49;
}


/* Side Nav */
.sidenav {
  display: flex; /* Will be hidden on mobile */
  flex-direction: column;
  grid-area: sidenav;
  background-color: #394263;
}
.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}
.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}
.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* Grid CSS */


/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  background:#292734;
  grid-area: header;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

}

.sidenav {
  grid-area: sidenav;
  background-color: #394263;
}

.main {
  grid-area: main;
  background:#292734;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #648ca6;
}