<!-- Simple dashboard grid layout -->
<div class="grid-container">
  <header class="header">
    <pagination-controls class="myPagination" (pageChange)="p = $event">
    </pagination-controls>
  </header>
  <!--Side Nav HTML-->
  <aside class="sidenav">
    <ul class="sidenav__list">
      <li class="sidenav__list-item"><span><i class="material-icons">
            home
          </i></span>Home</li>
      <li class="sidenav__list-item">Item Two</li>
      <li class="sidenav__list-item">Item Three</li>
      <li class="sidenav__list-item"></li>
      <li class="sidenav__list-item"><span><i class="material-icons">
            settings_applications
          </i></span>Settings</li>
    </ul>
  </aside>
  <main class="main">
    <div class="headdiv" style="float:right;">
      <button class="btn"><span>Export to CSV</span></button>
      <button href="#myModal" class="btn button" data-toggle="modal"><span>+ Add Product</span></button>
    </div>

    <table class="" cellspacing="0">
      <thead>
        <tr>
          <th style="width:5%;">#</th>
          <th>Product Name</th>
          <th>Category</th>
          <th>Full Price</th>
          <th>Sale Price</th>
          <th>Availability</th>
          <th>Supplier</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="content">
        <tr *ngFor="let product of products | paginate: { itemsPerPage: 100, currentPage: p }">
          <td>{{product.id}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.category.categoryName}}</td>
          <td>{{product.fullPrice}}</td>
          <td>{{product.salePrice}}</td>
          <td>{{product.availability}}</td>
          <td>{{product.supplier.supplierName}}</td>
          <td>
            <button><span>Manage</span></button>

          </td>
        </tr>
      </tbody>
    </table>

  </main>
  <footer class="footer">

  </footer>
</div>




<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your account? This action cannot be undone and you will be unable to recover
          any data.</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn">Submit</a>
      </div>
    </div>
  </div>
</div>
