.sky{
  background-color:#1e91d6;
}
.berry{
  background-color:#0072bb;
}
.lime{
  background-color:#8fc93a;
}
.lemon{
  background-color:#e4cc37;
}
.tangerine{
  background-color:#e18335;
}
.white{
  background-color:white;
}
.black{
  background-color:black;
}
.white-t{
  color:white;
}
.black-t{
  color:black;
}