<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Full Price</th>
      <th>Sale Price</th>
      <th>Availability</th>
      <th>Supplier</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.category}}</td>
      <td>{{product.fullPrice}}</td>
      <td>{{product.salePrice}}</td>
      <td>{{product.availability}}</td>
      <td>{{product.supplier}}</td>
      <td>
        <button>Sumbit</button>
        <button>Clear</button>
      </td>
    </tr>
  </tbody>
</table>
