body{

}

.cube{
  text-align:center;
  border-radius: 5px;
  width:15vh;
  height:15vh;
}

.yellow{
  background-color:#eac435;
}
.blue{
  background-color:#345995;
}
.aqua{
  background-color:#03cea4;
}
.orange{
  background-color:#fb4d3d;
}
.red{
  background-color:#ca1551;
}
.purple{
  background-color:#7d5ba6;
}
.gray{
  background-color:#dddddd;
}
.pink{
  background-color:#fc6471;
}
.tangerine{
  background-color:#f18f01;
}
.andriod{
  background-color:#99c24d;
}