@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
    margin: auto;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #586994;
}

.container {
    width: 100%;
    text-align: center;
}

.header > h1 {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding:10px;
    margin:auto;
    width:30%;
    background-color:#e18335;
    text-align: center;
}
.header ul>li {
    margin: 5px;
    padding: 5px;
    display: inline-flex;
    background-color:#e56399;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
