.button {
  margin: 10px 10px 10px 10px;
}

.delete_icon {
  color: #F86C4A;
}

.edit_icon {
  color: #41E4DC;
}

.view_icon {
  color: #4DA1FF;
}

table {
  width: 100% !important;
  margin-top: 10px !important;
  table-layout: fixed;
  margin: auto;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif !important;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.table_wrapper{
  overflow:hidden;
}

#content :hover {
  padding: 15px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

table tbody, th, tr, td {
  background: #3F3D49;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

tbody {
  color: #7D8088;
  font-size: 14px;
}

th {
  padding-left: 24px;
  text-align: left;
  font-size: 12px;
}

tr {
  height: 50px;
}

td {
  font-weight: 700;
  padding-left: 24px;
  width: 25%;
}

thead {
  color: #D6D6D8;
  font-weight: 400;
}

.menu {
  float: right;
  margin-bottom: 3px;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #4357AD;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px !important;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-accent {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #48A9A6;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px !important;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

footer {
  position: fixed;
  right: 0;
  left:240px;
  bottom: 45px;
  width:100%;
  background-color: rgb(95, 93, 104);
  color: white;
  text-align: center;
  font-weight: 700;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pagination_footer {
  float:right;
  margin-right:275px;
  opacity: 0.5;
  margin-top: 14px;
}